<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
ارزش‌گذاری مشتریان
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font>
    در ادامه‌ی امور مربوط به بازاریابی، در این گام باید براساس ارزش مشتریان برای شرکت اقدام به گروه‌بندی آن‌ها کنید.
    برای این کار از یک روش معروف حوزه‌ی تحلیل رفتار مشتری با نام <a href="https://en.wikipedia.org/wiki/RFM_(market_research)"><i>RFM</i></a> استفاده خواهید کرد.
    در این روش برای هر مشتری سه معیار محاسبه می‌شود:
</font>
</p>


<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font>
    <ol>
        <li>
            <b>معیار <i>Recency</i> (ماندگاری):</b> تعداد روزی که از آخرین خرید مشتری می‌گذرد.
        </li>
        <li>
            <b>معیار <i>Frequency</i> (فرکانس):</b> تعداد دفعاتی که مشتری از ما خرید کرده است.
        </li>
        <li>
            <b>معیار <i>Monetary Value</i> (ارزش مالی):</b> مجموع درآمدی که شرکت از یک مشتری داشته است.
        </li>
    </ol>
</font>
</div>


<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font> 
این معیارها، نشان‌دهنده‌ی شاخص‌های مهمی در رفتار مشتریان هستند. به‌عنوان مثال، هرچه خرید جدیدتری توسط یک مشتری صورت گرفته باشد، احتمال آن‌که وی مجدد از ما خرید کند، افزایش می‌یابد. هرچه مشتری تعداد دفعات بیشتری خرید کند، به این معنی‌ست که مشتری رضایت بیشتری دارد و همچنین میزان درآمدی که یک مشتری برای شرکت تولید می‌کند، می‌تواند او را از سایر خریداران متمایز کند.
</font>
</p>

   
<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کتابخانه‌ها
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
       ابتدا کتابخانه‌های مورد نیاز خود را فرا بخوانید.
</font>
</p>

In [92]:
import pandas as pd 
import numpy as np 
from datetime import datetime
from datetime import timedelta

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    مجموعه‌داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    حال داده‌های پیش‌پردازش‌شده را که در گام اول پروژه در فایل <code>preprocessed_sales.csv</code> ذخیره کردید به شکل یک دیتافریم بخوانید.
</font>
</p>

In [93]:
df = pd.read_csv('preprocessed_sales.csv')
df.head()

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    معیار Recency
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    ابتدا نیاز است برای هر مشتری (<code>CustomerId</code>) معیار <i>Recency</i> را محاسبه کنید.
    برای این معیار باید تعداد روز گذشته از آخرین خرید کاربر نسبت به یک روز بعد از آخرین تاریخ موجود در مجموعه‌داده (ستون <code>InvoiceDate</code>) را محاسبه کنید. زیرا که فرض را بر آن گرفته‌ایم که شما در چنین روزی در حال تحلیل هستید.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    بنابراین ابتدا آخرین تاریخ موجود در مجموعه‌داده را پیدا کرده، و پس از جمع روز آن با <code>1</code>، حاصل را در متغیر <code>last_day</code> ذخیره کنید.
    مقدار این متغیر باید از نوع <code>Timestamp</code> باشد. به‌عنوان مثال اگر آخرین تاریخ معادل <code>Timestamp('2010-10-10 10:10:00')</code> بود، آن‌گاه حاصل شما باید به شکل <code>Timestamp('2010-10-11 10:10:00')</code> باشد.
</font>
</p>

In [94]:
df1 = df.copy()
date_base = datetime.strptime(df['InvoiceDate'].max(), '%Y-%m-%d %H:%M:%S')
last_day = date_base + timedelta (days = 1)
last_day

datetime.datetime(2010, 12, 10, 20, 1)

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اکنون می‌توانید به ازای هر مشتری، تاریخ آخرین خرید وی را پیدا کرده و تعداد روز گذشته از <code>last_day</code> را محاسبه کنید.
    <br>
    حاصل را در یک دیتافریم به نام <code>df_customer_segments</code> و با دو ستون <code>CustomerId</code> (شناسه‌ی مشتری) و <code>Recency</code> (مقدار ماندگاری محاسبه‌شده) ذخیره کنید.
</font>
</p>

In [95]:
df1['InvoiceDate'] = pd.to_datetime(df1['InvoiceDate'])
df_customer_segments = pd.DataFrame(df1.groupby(by = 'CustomerId' )['InvoiceDate'].max()).reset_index()
df_customer_segments['Recency'] = (last_day - df_customer_segments['InvoiceDate']).dt.days
df_customer_segments.drop(columns = 'InvoiceDate' , inplace =True)
df_customer_segments

      CustomerId  Recency
0        12346.0      165
1        12347.0        3
2        12348.0       74
3        12349.0       43
4        12351.0       11
...          ...      ...
4307     18283.0       18
4308     18284.0       67
4309     18285.0      296
4310     18286.0      112
4311     18287.0       18

[4312 rows x 2 columns]

# <h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    معیار Frequency
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اکنون باید محاسبه کنید هرکدام از مشتری‌ها تاکنون چند خرید <b>یکتا</b> داشته‌اند. حاصل را در ستونی به نام <code>Frequency</code> به دیتافریم <code>df_customer_segments</code> اضافه کنید.
</font>
</p>

In [96]:
frequency = pd.DataFrame(df1.groupby(by = 'CustomerId' )['InvoiceNumber'].nunique()).reset_index()
df_customer_segments = pd.merge(df_customer_segments , frequency)
df_customer_segments.rename(columns={"InvoiceNumber": "Frequency"} , inplace = True)
df_customer_segments

      CustomerId  Recency  Frequency
0        12346.0      165         11
1        12347.0        3          2
2        12348.0       74          1
3        12349.0       43          3
4        12351.0       11          1
...          ...      ...        ...
4307     18283.0       18          6
4308     18284.0       67          1
4309     18285.0      296          1
4310     18286.0      112          2
4311     18287.0       18          4

[4312 rows x 3 columns]

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    معیار Monetary Value
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    برای این معیار باید محاسبه کنید مجموع خرید هر مشتری چقدر بوده است؟ توجه داشته باشید که برای محاسبه‌ی دریافتی هر ردیف باید قیمت واحد (<code>UnitPrice</code>) را در تعداد آن (<code>Quantity</code>) ضرب کنید و از حاصل آن برای محاسبه‌ی مجموع خرید هر مشتری استفاده کنید.
     حاصل را در ستونی به نام <code>MonetaryValue</code> به دیتافریم <code>df_customer_segments</code> اضافه کنید.
</font>
</p>

In [97]:
df1['total_amount'] = df1['UnitPrice'] * df1['Quantity']
total_amount_customer = pd.DataFrame(df1.groupby(by = 'CustomerId')['total_amount'].sum()).reset_index()
df_customer_segments = pd.merge(df_customer_segments , total_amount_customer)
df_customer_segments.rename(columns={"total_amount": "MonetaryValue"} , inplace = True)
df_customer_segments

      CustomerId  Recency  Frequency  MonetaryValue
0        12346.0      165         11         372.86
1        12347.0        3          2        1323.32
2        12348.0       74          1         222.16
3        12349.0       43          3        2671.14
4        12351.0       11          1         300.93
...          ...      ...        ...            ...
4307     18283.0       18          6         619.37
4308     18284.0       67          1         461.68
4309     18285.0      296          1         427.00
4310     18286.0      112          2        1296.43
4311     18287.0       18          4        2345.71

[4312 rows x 4 columns]

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    گروه‌بندی هر معیار
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اکنون نیاز است هرکدام از این سه معیار را براساس چارک اول،‌ دوم و سوم به شکل زیر به ۴ گروه مختلف تقسیم کنید
    (برای یادآوری مفهوم چارک،
    <a href="https://fa.wikipedia.org/wiki/%DA%86%D8%A7%D8%B1%DA%A9_(%D8%A2%D9%85%D8%A7%D8%B1)">این مطلب</a>
    را از ویکی‌پدیای فارسی بخوانید).
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>

| <b>شماره گروه</b> | <b>شرط</b> |
| :---: | :---: | 
| 1 | <code dir=ltr>value <= Q1</code> | 
| 2 | <code dir=ltr>Q1 < value <= Q2</code> | 
| 3 | <code dir=ltr>Q2 < value <= Q3</code> | 
| 4 | <code dir=ltr>Q3 < value</code> | 

</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    به ازای هر کدام از این سه معیار چنین کاری را انجام داده و نتایج را در سه ستون دیگر به نام‌های
    <code>F_quartile</code>، <code>R_quartile</code> و <code>M_quartile</code>
    ذخیره کنید.
    توجه کنید که مقادیر این ستون‌ها معادل شماره گروه یعنی اعداد <code>1</code> تا <code>4</code> خواهد بود.
</font>
</p>

In [102]:
Q1_Recency = df_customer_segments['Recency'].quantile(0.25)
Q2_Recency = df_customer_segments['Recency'].quantile(0.50)
Q3_Recency = df_customer_segments['Recency'].quantile(0.75)

Q1_Frequency = df_customer_segments['Frequency'].quantile(0.25)
Q2_Frequency = df_customer_segments['Frequency'].quantile(0.50)
Q3_Frequency = df_customer_segments['Frequency'].quantile(0.75)

Q1_MonetaryValue = df_customer_segments['MonetaryValue'].quantile(0.25)
Q2_MonetaryValue = df_customer_segments['MonetaryValue'].quantile(0.50)
Q3_MonetaryValue = df_customer_segments['MonetaryValue'].quantile(0.75)

for index, row in df_customer_segments.iterrows():
    if row['Recency'] <= Q1_Recency:
        df_customer_segments.at[index, 'R_quartile'] = 1
    elif   Q1_Recency < row['Recency'] <= Q2_Recency :
        df_customer_segments.at[index, 'R_quartile'] = 2 
    elif Q2_Recency < row['Recency'] <= Q3_Recency:
        df_customer_segments.at[index, 'R_quartile'] = 3
    elif Q3_Recency < row['Recency']:
        df_customer_segments.at[index, 'R_quartile'] = 4
        
    elif row['Frequency'] <= Q1_Frequency:
        df_customer_segments.at[index, 'F_quartile'] = 1
    elif  Q1_Frequency < row['Frequency'] <= Q2_Frequency :
        df_customer_segments.at[index, 'F_quartile'] = 2
    elif Q2_Frequency < row['Frequency'] <= Q3_Frequency:
        df_customer_segments.at[index, 'F_quartile'] = 3
    elif Q3_Frequency < row['Frequency']:
        df_customer_segments.at[index, 'F_quartile']  =4
        
    elif row['MonetaryValue'] <= Q1_MonetaryValue:
        df_customer_segments.at[index, 'M_quartile'] =1
    elif   Q1_MonetaryValue < row['MonetaryValue'] <= Q2_MonetaryValue :
        df_customer_segments.at[index, 'M_quartile'] =2
    elif Q2_MonetaryValue < row['MonetaryValue'] <= Q3_MonetaryValue:
        df_customer_segments.at[index, 'M_quartile'] =3
    elif Q3_MonetaryValue < row['MonetaryValue']:
        df_customer_segments.at[index, 'M_quartile'] =4

df_customer_segments

,CustomerId,Recency,Frequency,MonetaryValue,R_quartile,F_quartile,M_quartile
0,12346.0,165,11,372.86,4.0,4.0,2.0
1,12347.0,3,2,1323.32,1.0,2.0,3.0
2,12348.0,74,1,222.16,3.0,1.0,1.0
3,12349.0,43,3,2671.14,2.0,3.0,4.0
4,12351.0,11,1,300.93,1.0,1.0,1.0
...,...,...,...,...,...,...,...
4307,18283.0,18,6,619.37,1.0,4.0,2.0
4308,18284.0,67,1,461.68,3.0,1.0,2.0
4309,18285.0,296,1,427.00,4.0,1.0,2.0
4310,18286.0,112,2,1296.43,3.0,2.0,3.0
4311,18287.0,18,4,2345.71,1.0,3.0,4.0

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    معیار RFM
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اکنون می‌توانید با کنار هم قرار دادن مقادیر ستون‌های
    <code dir=ltr>[R_quartile, F_quartile, M_quartile]</code>
    مقدار نهایی <i>RFM</i> را محاسبه کرده و در ستونی به همین نام ذخیره کنید.
    به‌‌عنوان مثال اگر مقادیر این ستون‌ها برای یک مشتری برابر
    <code dir=ltr>[1, 2, 3]</code> بود،
    آن‌گاه مقدار نهایی <i>RFM</i> برابر با <code>123</code> است.
</font>
</p>

In [105]:
df_customer_segments['RFM'] = df_customer_segments['R_quartile'].astype('int64').astype('str') + df_customer_segments['F_quartile'].astype('int64').astype('str') + df_customer_segments['M_quartile'].astype('int64').astype('str')
df_customer_segments.head()

,CustomerId,Recency,Frequency,MonetaryValue,R_quartile,F_quartile,M_quartile,RFM
0,12346.0,165,11,372.86,4.0,4.0,2.0,442
1,12347.0,3,2,1323.32,1.0,2.0,3.0,123
2,12348.0,74,1,222.16,3.0,1.0,1.0,311
3,12349.0,43,3,2671.14,2.0,3.0,4.0,234
4,12351.0,11,1,300.93,1.0,1.0,1.0,111

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    گروه‌بندی مشتریان
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    حال باید براساس مقادیر ستون <code>RFM</code> و طبق جدول زیر به گروه‌بندی مشتریان بپردازید و نام گروه آن‌ها را در ستونی به نام <code>Segment</code> ذخیره کنید.
    توجه داشته باشید که در این جدول، <code>X</code> به معنی هر مقداری است. به‌عنوان مثال <code>14X</code> به معنی <code>141</code>، <code>142</code>، <code>143</code> و <code>144</code> است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>

| <b>Segment</b> | <b>RFM</b> |
| :---: | :---: | 
| Best | <code dir=ltr>144</code> | 
| AlmostLost | <code dir=ltr>344</code> | 
| LostBigSpenders | <code dir=ltr>444</code> | 
| LostCheap | <code dir=ltr>441</code> | 
| Loyal | <code dir=ltr>X4X</code> | 
| BigSpenders | <code dir=ltr>XX4</code> | 

</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    <span style="color:purple"><b>نکته ۱:</b></span>
    در صورتی‌که یک مشتری در هیچ‌یک از گروه‌های جدول قرار نگرفت، گروه او را Normal اعلام کنید.
    <br>
    <span style="color:purple"><b>نکته ۲:</b></span>
    همچنین اگر یک RFM می‌تواند در دو گروه از جدول قرار بگیرد، اولویت با گروهی‌ست که در جدول، <b>بالاتر</b> آمده باشد.
</font>
</p>

In [ ]:
for index, row in df_customer_segments.iterrows():
    if row['RFM'] == '144':
        df_customer_segments.at[index, 'Segment'] = 'Best'
    elif   row['RFM'] == '344' :
        df_customer_segments.at[index, 'Segment'] = 'AlmostLost'
    elif row['RFM'] == '444':
       df_customer_segments.at[index, 'Segment'] = 'LostBigSpenders'
    elif row['RFM'] == '441':
       df_customer_segments.at[index, 'Segment'] = 'LostCheap'
    elif row['RFM'][1] == '4':
       df_customer_segments.at[index, 'Segment'] = 'Loyal'
    elif row['RFM'][2] == '':
       df_customer_segments.at[index, 'Segment'] = 'BigSpenders' 
    else 
       df_customer_segments.at[index, 'Segment'] = 'Normal'

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [ ]:
import zipfile
import joblib

df_customer_segments.to_csv('df_customer_segments.csv', index=False)
joblib.dump(last_day, 'last_day')

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["last_day", "df_customer_segments.csv", "final_project_4_rfm.ipynb"]
compress(file_names)